# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: DockerCompose@1
  inputs:
    containerregistrytype: 'Azure Container Registry'
    azureSubscription: 'Azure subscription 1(3)(5b7ed929-ed60-4ef4-aa82-5f8a1a6bd071)'
    azureContainerRegistry: '{"loginServer":"nodeapp01.azurecr.io", "id" : "/subscriptions/5b7ed929-ed60-4ef4-aa82-5f8a1a6bd071/resourceGroups/demo-app/providers/Microsoft.ContainerRegistry/registries/nodeapp01"}'
    dockerComposeFile: 'Dockerfile'
    action: 'Build services'

- task: DockerCompose@1
  inputs:
    containerregistrytype: 'Azure Container Registry'
    azureSubscription: 'Azure subscription 1(4)(5b7ed929-ed60-4ef4-aa82-5f8a1a6bd071)'
    azureContainerRegistry: '{"loginServer":"nodeapp01.azurecr.io", "id" : "/subscriptions/5b7ed929-ed60-4ef4-aa82-5f8a1a6bd071/resourceGroups/demo-app/providers/Microsoft.ContainerRegistry/registries/nodeapp01"}'
    dockerComposeFile: 'Dockerfile'
    action: 'Push services'